[submodule "CSS-Exercises"]
	path = CSS-Exercises
	url = git@github-sagar:sagarsanjaysutar/CSS-Exercises
[submodule "React-Exercises"]
	path = React-Exercises
	url = git@github-sagar:sagarsanjaysutar/React-Exercises
[submodule "Data-Structure-Exercises"]
	path = Data-Structure-Exercises
	url = git@github-sagar:sagarsanjaysutar/Data-Structure-Exercises
[submodule "Effective-CPP-Exercises"]
	path = Effective-CPP-Exercises
	url = git@github-sagar:sagarsanjaysutar/Effective-CPP-Exercises
[submodule "Design-Patterns-Exercises"]
	path = Design-Patterns-Exercises
	url = git@github-sagar:sagarsanjaysutar/Design-Patterns-Exercises
[submodule "Computer-Vision-CPP-Exercises"]
	path = Computer-Vision-CPP-Exercises
	url = git@github-sagar:sagarsanjaysutar/Computer-Vision-CPP-Exercises
